<h1> View Faved Pets </h1>

<% if @no_faves %>
<p>"You have no faved pets."</p>
<% end %>

<br>
<%= link_to "Apply", "/adoption_apps/new" %>

<br>
<%= button_to "Remove all faves", "/cart", method: :delete %>

<h2> Pets Pending Adoption </h2>
<% @display_applied.each do |hash|  %>
<li>
  <uo><%= link_to hash[:name], "/pets/#{hash[:id]}"%>
</li>
<% end %>

<br>

<section id="faves">
<% @view_faved.each do |pet| %>
  <section id = "fav-<%= pet["id"] %>">
    <br>
    <%= link_to "#{pet["name"]}", "/pets/#{pet["id"]}" %>
    <br>
    <%= image_tag(pet["image"]) %>
    <br>
    <%= button_to "Unfave it", "/cart/#{pet["id"]}", method: :delete %>
  </section>
<% end %>
</section>
