<h1> View Faved Pets </h1>

<% if @no_faves %>
<p>"You have no faved pets."</p>
<% end %>

<br>
<%= link_to "Apply", "/adoption_apps/new" %>

<br>
<%= button_to "Remove all faves", "/cart", method: :delete %>

<br>
<% @view_faved.each do |pet| %>
  <section id = "fav-<%= pet["id"] %>">
    <br>
    <%= link_to "#{pet["name"]}", "/pets/#{pet["id"]}" %>
    <br>
    <%= image_tag(pet["image"]) %>
    <br>
    <%= button_to "Unfave it", "/cart/#{pet["id"]}", method: :delete %>
  </section>
<% end %>
