<section id="app-<%= @app.id %>">
  <p>Name: <%=@app.name %></p>
  <p>Address: <%=@app.address %></p>
  <p>City: <%=@app.city %></p>
  <p>State: <%=@app.state %></p>
  <p>Zip: <%=@app.zip %></p>
  <p>Phone: <%=@app.phone %></p>
  <p>Tell us a bit about why you think you'd make a good pet parent: <%=@app.description %></p>
  <p>
    Pets applied for: <% @app.pets.each do |pet| %>
      <section id="pet-<%= pet.id %>">
                       <%= pet.name %>
                       <%= link_to 'Approve', "/pets/#{pet.id}" %>
      </section>
                        <% end %>
  </p>
</section>
