<section id="pet-<%= @pet.id%>">
  <% if cart.contents.keys.include?(@pet.id.to_s) %>
    <p><%= button_to 'Unfave it', "/cart/#{@pet.id}", method: :delete %></p>
  <% else %>
    <p><%= button_to 'Fave it', "/cart/pets/#{@pet.id}", method: :patch %></p>
  <% end %>

  <h3>Name: <%= @pet.name %></h3>
  <p>Description: <%= @pet.description %></p>
  <p>Age: <%= @pet.approximate_age %></p>
  <p>Sex: <%= @pet.sex %></p>
  <% if @pet_app %>
    <p>Status: <%= @pet.status = "Pending" %></p>
    <p>On hold for <%= @pet_app.name %></p>
  <% end %>
  <p>Status: <%= @pet.status %></p>
  <%= image_tag(@pet.image) %><br/>
  <p><%= link_to 'Update', "/pets/#{@pet.id}/edit" %> <%= button_to 'Delete', "/pets/#{@pet.id}", method: :delete %></p>
<%= link_to "View all applications for this pet", "/pets/#{@pet.id}/adoption_apps" %>

</section>
